body {
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 1.7rem;
  letter-spacing: 0.035rem;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 13px;
  }
}


h1 {
  font-size: 1.6rem;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  color: rgb(30, 30, 30);
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.3rem;
  }
}

h2 {
  font-size: 1.4rem;
  margin-top: 80px;
}
@media screen and (max-width: 700px) {
  h2 {
    font-size: 1.2rem;
  }
}


h3 {
  font-size: 1.2rem;
  margin-top: 40px;
}
@media screen and (max-width: 700px) {
  h3 {
    font-size: 1rem;
  }
}


h4 {
  font-size: 1.1px;
  margin-top: 30px;
}
@media screen and (max-width: 700px) {
  h4 {
    font-size: 0.9rem;
  }
}

p {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-right: 20px;
  @media screen and (max-width: 700px) {
    padding-right: 0;
  }
}

pre {
  border-radius: 4px;
  background-color: rgb(255, 255, 255, 0.7) !important;
  border: 1px solid rgb(210, 210, 210);
  white-space: pre-wrap;
  font-size: 0.75rem;
  letter-spacing: 0;
  width: 92%;
  margin-bottom: 40px;
}


pre code {
  padding: 0;
  font-size: 0.8rem;
  border: none;
}

pre[class*=language-] {
  margin-bottom: 40px;
}

code {
  margin: 1px;
  color: rgb(100, 20, 30);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  padding: 4px 5px;
  font-size: 0.9rem;
}

blockquote {
  margin-left: 4px;
  margin-right: 0;
  border-left: 4px solid #D1E0EA;
  padding-left: 14px;
  color: rgb(100, 100, 100);
  font-size: 0.8rem;

}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

dt {
  float: left;
  margin-right: 8px;
}

.header-link-icon {
  margin-right: 6px;
}


@media screen and (max-width: 700px) {
  .fa-link {
    padding-bottom: 0;
  }
}